:root {
  font-family: "Inter", "Inter Placeholder", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --padding-main-top: 30px;
  --padding-main-bottom: 30px;
  --padding-main-block: var(--padding-main-top) var(--padding-main-bottom);

  --padding-main-left: 30px;
  --padding-main-right: 30px;
  --padding-main-inline: var(--padding-main-left) var(--padding-main-right);

  --padding-main: var(--padding-main-top) var(--padding-main-right)
    var(--padding-main-bottom) var(--padding-main-left);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  max-height: 100vh;
}

#app {
  min-width: 320px;
  height: 100vh;
  text-align: center;
}

.button {
  outline: 2px solid var(--bs-dark);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.1s;

  &:hover {
    background-color: #fcd4aa;
  }
  &:enabled {
    outline: 2px solid var(--bs-dark) !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: auto !important;
}
h1 {
  font-size: 3em !important;
}
h2 {
  font-size: 2.5em !important;
}
h3 {
  font-size: 2.2em !important;
}
h4 {
  font-size: 2em !important;
}

.box-shadow {
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.3);
}
.box-shadow-light {
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
}
.box-shadow-dark {
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.8);
}

.outline-black {
  outline: 2px solid var(--bs-dark);
}

.blend-text-to-bg {
  mix-blend-mode: difference;
  color: white;
}

.main-container {
  padding: var(--padding-main);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-scrollable {
  border-radius: 10px;
  padding-block: 20px;
  padding-inline: 10px;
  overflow-x: auto;
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: space-evenly;
}
